@use '../helpers' as *;

.button {
    @include flex-center;

    max-width: rem(272);
    width: 100%;
    padding: 19px 50px;
    font-size: rem(24);
    line-height: 1.67;
    font-weight: 700;
    color: var(--color-yellow);
    background-color: var(--color-dark);
    border: none;
    transition-duration: var(--transition-duration);
    white-space: nowrap;

    @include hover {
        opacity: 0.7;
    }

    &.button-accent {
        max-width: rem(192);
        width: 100%;
        font-size: rem(18);
        color: var(--color-dark);
        background-color: var(--color-yellow);
    }
    
    &.button-dark {
        max-width: rem(192);
        width: 100%;
        font-size: rem(18);
    }
}