@use '../helpers' as *;

.button {
    @include flex-center;

    max-width: rem(272);
    background-color: var(--color-dark);
    padding: 19px 50px;
    font-size: rem(24);
    color: var(--color-yellow);
    line-height: 1.67;
    font-weight: 700;

    &.button-accent {
        color: var(--color-dark);
        background-color: var(--color-yellow);
        max-width: rem(192);
        font-size: rem(18);
    }
    
    &.button-dark {
        max-width: rem(192);
        font-size: rem(18);
    }
}