@use '../helpers' as *;

.field {
    &__input {
        width: rem(470);
        padding: 0;
        padding-bottom: rem(13);
        outline: none;
        color: var(--color-white);
        font-weight: 300;
        border: none;
        border-bottom: var(--border);
        background-color: var(--color-dark);

        &-screen {
            text-decoration: underline;
        }
    }

    &__label {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: rem(460);
            padding-block: rem(40);
            border: 1px dashed var(--color-gray);
    }
}