@use '../helpers' as *;

.header {
    &__logo {
        max-width: rem(297);
        width: 100%;
        flex-shrink: 0;

        @include mobile {
            max-width: rem(200);
            height: rem(50);
        }
    }

    &__body-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: rem(24);

        @include mobile {
            flex-direction: column;
            row-gap: rem(10);
        }
    }

    &__menu {
        &-list {
            display: inline-flex;
            column-gap: rem(40);
            align-items: center;
            
            @include mobile-s {
                column-gap: rem(28);
            }
        }

        &-item {
            flex-shrink: 0;
        }

        &-image {
            @include mobile {
                @include square(rem(25));
            }
        }
    }
}