@use '../helpers' as *;

.section {
    &__banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        background: url(../images/section-banner.jpg) center / cover no-repeat;
    }
}