@use '../helpers' as *;

.section {
    &__banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        background: url('../images/section-banner.jpg') center / cover no-repeat;

        @media (width <= 767px) {
            background-position: top;
            background-repeat: no-repeat;
            background-size: auto 95%;
        }

        @media (width <= 320px) {
            background: url('../images/section-banner-mob.jpg') top / 100% 97% no-repeat;
        }
    }

    &__event {
        margin-top: rem(70);
        position: relative;
        background-color: var(--color-dark);

        &::before {
            content: "";
            width: 100%;
            height: rem(70);
            position: absolute;
            translate: -50% -50%;
            top: -4%;
            left: 50%;
            background: url(../images/decor.png) center / cover no-repeat;
        }
    }
}